
/*body {*/
  /*margin-top: 50px;*/
/*}*/

.footer-background {
  background-color: #292929;
  padding-top: 50px;
  color: white;
}

.ui.borderless.topmenu {
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}

.ui.borderless.secondmenu {
  box-shadow: none;
  border: none;
  text-transform: uppercase;
}



/*.ui.segment.banner {*/
  /*background-color: #000000;*/
  /*box-shadow: none;*/
  /*border: none;*/
/*}*/
