
body {
  margin-top: 50px;
}

.ui.borderless.topmenu {
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}

/*.ui.segment.banner {*/
  /*background-color: #000000;*/
  /*box-shadow: none;*/
  /*border: none;*/
/*}*/
